@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "HoneyBlot";
    src: url("../assets/fonts/honeyblot_caps.otf");
  }

  @font-face {
    font-family: "HoneyPigeon";
    src: url("../assets/fonts/HoneyPigeon.ttf");
  }

  @font-face {
    font-family: "Nunito";
    src: url("../assets/fonts/Nunito-VariableFont_wght.ttf");
  }
  @font-face {
    font-family: "Nunito";
    src: url("../assets/fonts/Nunito-Italic-VariableFont_wght.ttf");
    font-style: italic;
  }

  @font-face {
    font-family: "Playpen";
    src: url("../assets/fonts/PlaypenSans-VariableFont_wght.ttf");
  }

  * {
    @apply select-none;
  }
}

@layer components {
  .btn {
    @apply rounded-xl border border-current bg-transparent px-4 py-2 font-bold text-current hover:bg-[color-mix(in_srgb,_transparent,_currentColor_10%)] disabled:cursor-not-allowed disabled:text-[color-mix(in_srgb,_transparent,_currentColor_50%)] disabled:hover:bg-transparent;
  }

  .btn-contained {
    @apply border-none bg-[var(--btn-color-contrast)] text-[var(--btn-color)] shadow-md [--btn-color-contrast:white] [--btn-color:black] hover:bg-[color-mix(in_srgb,_var(--btn-color-contrast),_var(--btn-color)_10%)] disabled:bg-[color-mix(in_srgb,_transparent,_currentColor_50%)] disabled:hover:bg-[color-mix(in_srgb,_transparent,_currentColor_50%)];
  }

  .btn-contained-invert {
    @apply bg-[var(--btn-color)] text-[var(--btn-color-contrast)] hover:bg-[color-mix(in_srgb,_var(--btn-color),_var(--btn-color-contrast)_10%)];
  }

  .btn-icon {
    @apply flex items-center justify-center p-2;
  }
}
